$accent-color-1: #FFFFFF;
$accent-color-2: #F8F9FC;
$accent-color-3: #C0BFCF;
$accent-color-4: #9D9DB5;
$accent-color-5: #192140;
$accent-color-6: #10131C;
$accent-color-7: #D7F8FF;
$accent-color-8: #DCF10D;
$accent-color-9: #0266FF;
